@import "../../constants/Constants";;

.filter-management {

  &__main {
    margin-left: 20%;
  }

  &--add &__item{
    width: 30%;
    margin-bottom: 20px;
  }

  &--update {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;

    margin-right: 3%;
    margin-bottom: 20px;
    padding: 1% 1% 2%;
    color: $grey-color;
    background-color: $light-green-color;

    &-header {
      color: $grey-color;
    }

    &--name {
      display: inline-block;
      font-weight: bold;
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    &--options {
      &-add {
        cursor: pointer;
        width: 20px;

        &-sbm {
          margin-top: auto;
        }
      }
    }

    &--body {
      display: flex;
      flex-direction: column;

      &-input {
        display: block;
        font-size: 0.9em;
        width: 100%;
        margin-bottom: 10px;

        &-grp {
          display: flex;
        }

        &--delete-img {
          height: 20px;
          cursor: pointer;
        }
      }

      &-range {
        &--name {
          display: block;
        }
      }
    }

    &--submit, &--remove {
      width: 100%;
      height: 25px;
      border-radius: 5px;
      background-color: $green-color;
      color: $grey-color;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 5px;
    }

    &--remove {
      background-color: $red-color;
    }
  }
}