@import "../../constants/Constants";

.admin-auth {
  background: url(../../../images/gear-wheel.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__form {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border: 1px $grey-color solid;
    border-radius: 3px;
    padding: 10px 20px 40px;

    h2 {
      font-weight: lighter;
      text-transform: uppercase;
      text-align: center;
    }

    &-input, &-submit {
      width: 100%;
      height: 20px;
      border-radius: 3px;
      border-width: 1px;
    }

    &-input {
      margin-bottom: 10px;
      text-indent: 5px;
    }

    &-submit {
      text-transform: uppercase;
      font-weight: bold;
      background-color: $green-color;
      height: 25px;
    }
  }
}