@import "../../constants/Constants";

.store-management {
    &__main {
        width: 20%;
        margin-left: 20%;
        padding: 3%;
        background-color: $light-green-color;
    }

    textarea {
        resize: none;
    }

    &__header {
        color: $grey-color;
    }

    &-form__elem {
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        height: 20px;
        margin-bottom: 5px;
        font-size: 0.8em;

        &-text-area {
            height: 200px;
        }

        &-submit {
            margin-top: 15px;
            text-transform: uppercase;
            height: 30px;
            background-color: $green-color;
            font-weight: bold;
            font-size: 1em;
            color: $grey-color;
        }
    }
}

.glyphicon {
    padding: 5px 5px 5px 15px;
    &-edit {
        left: 200px;
    }
}