@import "../../constants/Constants";

.product-pdp {
    display: flex;

    &__img {
        width: 30%;
        margin-left: 10%;

        & img {
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 60%;
        margin-left: 5%;
        border: none;
        font-size: 1em;
        margin-top: 20px;

        &-group {
            margin-top: 90px;
        }


        & p {
            margin: 10px;
        }

        &--name {
            text-transform: uppercase;
            font-weight: bold;
            pointer-events: none;
        }

        &--price {
            pointer-events: none;
        }

        &--descr {
            pointer-events: none;
            resize: none;
            min-height: 100px;
        }

        &--editable {
            text-align: left;
            font-weight: normal;
            text-transform: none;
            border: 1px solid $grey-color;
            padding: 5px;
            pointer-events: all;
        }
    }
}

.admin {

    &.product-pdp {
        margin: 0;
        width: 70%;

        &__info {
            width: 100%;

            input, textarea {
                border-radius: 5px;
            }

            &-group {
                margin-top: 0;
            }

            &--descr {
                min-height: 200px;
            }

            &--submit {

                &-group {
                    width: 16%;
                    margin-left: auto;
                    margin-right: auto;
                }

                &-btn {
                    display: block;
                    background-color: $green-color;
                    width: 20%;
                    height: 30px;
                    text-transform: uppercase;
                    color: $grey-color;
                    font-weight: bold;
                    font-size: 1em;
                    cursor: pointer;
                    border-radius: 5px;
                    text-align: center;
                    margin: 5px auto;
                }
            }
        }

        &__img {
            width: 100%;
        }

        .glyphicon {
            padding: 25px 5px 5px 15px;
            &-edit {
                left: 405px;
            }
        }
    }
}

