@import "../../constants/Constants";

.filter {

  &-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__apply {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 25px;

    cursor: pointer;
    border-radius: 3px;
    background-color: $green-color;
    color: $grey-color;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
  }
}