@import "../../constants/Constants";

.price-sort {
    font-size: 0.8em;
    text-transform: uppercase;

    &__header {
        font-weight: bold;
    }

    &__option {
        color: $grey-color;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &--active {
            color: $green-color;
        }
    }
}
