@import "../constants/Constants";

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
    background-color: $grey-color;

    &-name {
        color: $green-color;
        margin-bottom: 5%;
        text-transform: uppercase;
    }

    &-text {
        margin: 0;
        width: 50%;
        text-align: center;
        color: white;
        line-height: 1.5em;
    }
}