@import "../../constants/Constants";

.search-bar {
    padding: 5px;
    position: relative;

    & input {
        width: 95%;
        height: 30px;
        font-size: 0.8rem;
        text-indent: 35px;
        border-radius: 5px;
    }

    .glyphicon {
        padding: 8px 8px 8px 12px;
    }
}