@import "../../constants/Constants";

.products {
    display: flex;
    flex-flow: row wrap;
}

.product {
    margin: 2%;
    background-color: white;

    & .update-error {
        display: block;
    }

    &__image {
        width: 290px;
        height: 290px;
        cursor: pointer;
    }

    &:hover {
        transform: scale(1.05);
    }

    &-info {
        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;
        display: block;
        font-size: 1em;
        text-align: center;

        &--name {
            font-weight: bold;
            text-transform: uppercase;
        }

        &__modify {
            &--edit, &--delete {
                width: 50%;
                background-color: $green-color;
                height: 30px;
                margin-top: 5px;
                margin-bottom: 5px;
                text-transform: uppercase;
                color: $grey-color;
                font-weight: bold;
                font-size: 1em;
                cursor: pointer;
                border-radius: 5px;
            }

            &--delete {
                background-color: $red-color;
            }
        }
    }

  .glyphicon {
      padding: 5px 5px 5px 15px;
      &-edit {
          left: 200px;
      }
  }
}