$green-color: #98c123;
$light-green-color: #e6eade;
$grey-color: #444;
$red-color: #ED656D;

.update {

  &-none {
    display: none;
  }

  &-success {
    color: $green-color;
  }

  &-error {
    color: $red-color;
  }
}