@import "../../constants/Constants";

.product-management {

    &__main {
        margin-left: 20%;
    }

    &-form {
        padding: 3%;
        width: 25%;
        margin-bottom: 30px;
        background-color: $light-green-color;
    }

    &__header {
        color: $grey-color;
    }

    &-form__elem {
        display: block;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
        height: 20px;
        width: 100%;
        font-size: 0.8em;

        &-text-area {
            height: 200px;
            resize: none;
        }

        &-submit {
            display: block;
            margin-top: 5px;
            text-transform: uppercase;
            height: 30px;
            background-color: $green-color;
            font-weight: bold;
            font-size: 1em;
            color: $grey-color;
        }
    }

    &__filters {
        color: $grey-color;
        text-transform: uppercase;
    }
}