@import "../constants/Constants";

.header {
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 100%;
}

.hamburger-menu {
    display: none;

    @media (max-width: 450px) {
        display: block;
        width: 15px;
        padding: 2%;
    }
}

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //width: 100px;
    margin: 0;
    padding: 0;


    &-item {
        list-style: none;
        padding: 30px;
        text-decoration: none;
        text-transform: uppercase;
        color: $grey-color;

        &:hover {
            cursor: pointer;
        }
    }

    & > .nav-item__active {
        font-weight: bold;
        color: $green-color;
    }

    @media (max-width: 450px) {
        flex-direction: column;
    }
}