@import "../../constants/Constants";

.admin-tab {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    width: 15%;
    background-color: $grey-color;

    &__nav-item {
        color: white;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;

        &--active {
            font-weight: bold;
            color: $green-color;
            text-decoration: underline;
        }
    }
}