@import "../../../constants/Constants";

.filter__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: $green-color;

    &-arrow {
        width: 20px;
        cursor: pointer;
    }
}