@import "../constants/Constants";

.location {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 450px) {
        flex-direction: column;
    }

    &-address {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        color: $grey-color;

        &__store-name {
            text-transform: uppercase;
            margin-bottom: 10%;
        }

        &__line {
            margin: 5px;
        }
    }

    &-maps {
        min-width: 50%;
    }
}

.marker {
    transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
    transform-origin: 50% 50%;
    border-radius: 50% 50% 50% 0;
    padding: 0 3px 3px 0;
    width: 40px;
    height: 40px;
    background: #ed1f34;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2.2em 0 0 -1.3em;
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);

    &:after {
        content: '';
        width: 23px;
        height: 23px;
        margin: 1em 0 0 .7em;
        background: white;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
}